/* Park9 Site Stylings */
/* Author: Evan Paradis */

/* font-family: 'Roboto Slab', serif;
font-family: 'Lato', sans-serif; */

/* Block Stylings */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: auto;
	min-height: 100%;
	overflow-x: hidden;
}
body {
	color: #353535;
	font-family: 'Lato', sans-serif;
}
img, a {
	border: 0;
}
a {
	color: #7fbe00;
	text-decoration: none;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}
a:hover {
	color: #666;
}
h1 {

}
h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #7fbe00;
	margin-bottom: 15px;
}
h3 {
	font-size: 20px;
}
hr {
	border: none;
	height: 1px;
	width: 90%;
	margin: 0 auto 15px;
	background-color: #7fbe00;
}
p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 15px;
}
p:last-child {
	margin-bottom: 0;
}
.clear {
	clear: both;
}
.wrapper {
	position: relative;
}
.content-wrapper {
	position: relative;
	width: 100%;
}
.content {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
.left-side {
	float: left;
}
.right-side {
	float: right;
}
.bold {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}
.orange {
	color: #7fbe00;
}
/* Header Stylings */
header {
	position: relative;
	z-index: 10;
}
.urban-dog {
	position: absolute;
	left: 15px;
	top: 28px;
	width: 112px;
}
.logo {
	position: absolute;
	left: 15px;
	bottom: -134px;
}
.logo img {
	display: block;
	width: 100%;
}
.ribbon {
	position: absolute;
	top: 0;
	right: 15px;
}
.ribbon img {
	width: 100%;
	display: block;
}
/* Banner Stylings */
.banner {
	position: relative;
	margin-bottom: 15px;
}
.banner img {
	display: block;
	width: 100%;
}
.banner-caption {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	background-color: #7fbe00;
}
.banner-hidden {
	display: none;
}
.social-section {
	max-width: 1024px;
	margin: 0 auto;
	padding: 15px;
	border-top: 1px solid #353535;
	border-bottom: 1px solid #353535;
	text-align: center;
}
.social-section.quote {

}
.social-section h2 {
	float: left;
	margin-right: 8px;
	margin-top: 10px;
}
.social-section a:hover {
	color: #7fbe00;
}
.facebook {
	color: #3b5998;
}
.twitter {
	color: #4099ff;
}
.google {
	color: #d44837;
}
.pinterest {
	color: #d20000;
}
.instagram {
	color: #517fa4;
}
.youtube {
	color: #dc2725;
}
.fa-stack-1x {
	margin-top: 1px;
}
.dropcam {
	width: 100%;
	min-height: 283px;
	max-width: 470px;
	margin:0 auto 15px;
}
.cam-link {
	padding: 5px 10px;
	margin-bottom: 15px;
	background-color: #7fbe00;
	border: 1px solid #7fbe00;
	text-transform: uppercase;
	color: #fff;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.7);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,.7);
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}
.cam-link:hover {
	color: #7fbe00;
	background-color: #fff;
}
/* Main Navigation Stylings */
.navigation-btn {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	right: 15px;
}
#navBtn {
	color: #7fbe00;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
#navBtn:hover {
	color: #373737;
}
#navBtn.opened {
	color: #373737;
}
.nav-wrapper {
	padding: 20px 15px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	background: #fff;
}
nav {
	position: relative;
	max-width: 1024px;
	margin: 0 auto;
}
nav ul.main-nav {
	display: inline-block;
	float: right;
	list-style-type: none;
	background-color: #fff;
	opacity: 1;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}
nav ul.main-nav li {
	position: relative;
	float: left;
}
nav ul.main-nav li a {
	display: block;
	padding: 10px 15px;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #7fbe00;
	border-bottom: 1px solid #fff;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
nav ul.main-nav li a:hover {
	background-color: #7fbe00;
	color: #fff;
}
nav ul.main-nav li a.selected {
	background-color: #7fbe00;
	color: #fff;
}
nav ul.main-nav li ul {
	position: absolute;
	list-style-type: none;
	z-index: 11;
	width: 220px;
	left: 50%;
	margin-left: -110px;
	border: 1px solid #7fbe00;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
nav ul.main-nav li ul.hovered {
	opacity: 1;
	pointer-events: inherit;
}
nav ul.main-nav li ul li {
	float: none;
}
nav ul.main-nav li ul li a {
	text-align: center;
	background-color: #7fbe00;
	color: #fff;
	border-top: 1px solid #fff;
	border-bottom: none;
}
nav ul.main-nav li ul li a:hover {
	color: #7fbe00;
	background-color: #fff;
}
nav ul.main-nav li ul li a.selected {
	color: #7fbe00;
	background-color: #fff;
}
/* Responsive Navigation Stylings */
.navigation-btn {
	position: absolute;
	top: 8px;
	right: 0;
	font-size: 36px;
	opacity: 0;
	pointer-events: none;
}
#navBtn {
	position: relative;
	z-index: 500;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.navigation.closed {
	max-height: 0px;
}
.responsive-navigation {
	display: none;
	overflow: hidden;
	width: 100%;
}
.responsive-navigation ul {
	list-style-type: none;
	border: 1px solid #7fbe00;
}
.responsive-navigation ul li a {
	display: block;
	padding: 5px 15px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 14px;
	text-align: right;
	text-transform: uppercase;
	background-color: #fff;
	color: #7fbe00;
	border-bottom: 1px solid #ccc;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.responsive-navigation ul li a:hover {
	color: #fff;
	background-color: #7fbe00;
}
.responsive-navigation ul li a.selected {
	color: #fff;
	background-color: #7fbe00;
}
.responsive-navigation ul li ul {
	border-bottom: 1px solid #666;
}
.responsive-navigation ul li ul li a {
	padding-right: 30px;
	font-size: 12px;
	background-color: #ddd;
	border-bottom: none;
}
.responsive-navigation ul li ul li a:hover {
	color: #fff;
	background-color: #aaa;
}
.responsive-navigation ul li ul li a.selected {
	color: #fff;
	background-color: #aaa;
}
/* Home Stylings */
.main-container {
	padding: 25px;
	text-align: center;
}
.home .left-side {
	width: 48%;
}
.home .right-side {
	width: 48%;
}
.home .left-side img, .home .right-side img {
	width: 100%;
	display: block;
	border: 3px solid #7fbe00;
}
/* Our Promise Stylings */
.bullet-point {
	position: relative;
	top: -2px;
	color: #7fbe00;
	margin-right: 15px;
	font-size: 8px;
}
/* Play Nice Stylings */
.main-wrapper.play-nice .main-container {

}
/* Media Stylings */
.main-wrapper.about-media .main-container {

}
.article-row {

}
.article {
	position: relative;
	float: left;
	width: 32%;
}
.article:nth-child(2) {
	margin: 0 2%;
}
.article a {
	display: block;
	padding: 15px;
	min-height: 250px;
	border: 1px solid #353535;
	color: #4d4d4d;
}
.article a:hover {
	background-color: #f2f2f2;
	border: 1px solid #7fbe00;
}
.article img {
	display: block;
	max-width: 100%;
	max-height: 58px;
	margin: 0 auto 15px;
}
.article-info {
	position: absolute;
	bottom: 15px;
	left: 15px;
	right: 15px;
	padding: 10px;
	background-color: #7fbe00;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}
.article-date {
	font-style: italic;
	font-weight: 600;
}
/* Employment Stylings */
.main-wrapper.about-employment .main-container {

}
.page-banner {
	display: inline-block;
	padding: 10px 15px;
	background-color: #7fbe00;
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
/* Overnight Dogs Stylings */
.main-wrapper.dogs .main-container {

}
.overnight-price {
	font-style: italic;
	color: #7fbe00;
}
/* Overnight Cats Stylings */
.main-wrapper.cats .main-container {

}
/* Playcare Stylings */
.main-wrapper.service-playcare .main-container {

}
/* Indoor Pool Stylings */
.main-wrapper.indoor-pool .main-container {

}
/* Web Cam Stylings */
.service-webcam .left-side {
	width: 48%;
}
.service-webcam .right-side {
	width: 48%;
}
.service-webcam .left-side img, .service-webcam .right-side img {
	width: 100%;
	display: block;
	border: 3px solid #7fbe00;
}
/* New Client Stylings */
.main-wrapper.new-client .main-container {

}
.enrollment-buttons {
	padding: 0 15px 15px;
}
.enrollment-buttons .left-side {
	width: 50%;
	float: left;
	text-align: center;
}
.enrollment-buttons .right-side {
	width: 50%;
	float: right;
	text-align: center;
}
.enrollment-buttons a {
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Roboto Slab', serif;
}
.enroll-btn {
	display: inline-block;
	width: 150px;
	height: 150px;
	padding: 15px;
	margin-bottom: 5px;
	border-radius: 50%;
	background-color: #7fbe00;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.enroll-btn:hover {
	background-color: #666;
}
.enroll-btn.cat img {
	width: 85%;
	margin-top: 10%;
}
.enroll-btn.dog img {
	width: 90%;
	margin-top: 4%;
}
/* Returning Client Stylings */
.main-wrapper.returning-client .main-container {

}
.returning-client .form-section {
	padding: 5px 0;
}
.returning-client form {
	text-align: left;
	margin-bottom: 15px;
}
.returning-client form label {
	display: block;
	margin-bottom: 5px;
}
.returning-client form input[type="text"],.returning-client form input[type="email"] {
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.returning-client form input[type="radio"] {
	margin: 0 10px 10px 5px;
}
.returning-client form input[type="checkbox"] {
	margin: 0 10px 10px 5px;
}
.returning-client form select {
	width: 100%;
	height: 25px;
	padding: 5px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
}
.interests {
	font-size: 14px;
}
.returning-client form input[type="text"].datepicker {
	width: 25%;
}
.returning-client form input[type="text"].time {
	width: 25%;
}
.returning-client form input[type="submit"] {
	display: inline-block;
	padding: 5px 15px;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	color: #f2f2f2;
	background-color: #7fbe00;
	border: 2px solid #7fbe00;
	cursor: pointer;
	border-radius: 5px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.returning-client form input[type="submit"]:hover {
	background-color: #f2f2f2;
	color: #7fbe00;
}
.boarding-section, .playcare-section {
	display: none;
}
.cat-option {
	display: none;
}
/* Gallery Stylings */
.main-wrapper.gallery .main-container {

}
.gallery-table {
	width: 100%;
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	border: 0;
}
.gallery-row {
	display: table-row;
	border: 1px solid #1a1a1a;
}
.gallery-row .left-side {
	display: table-cell;
	width: 50%;
	float: none;
	position: relative;
}
.gallery-box {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	min-height: 100%;
}
.slider-img {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.gallery-row .right-side {
	display: table-cell;
	vertical-align: top;
	width: 50%;
	float: none;
	background: rgba(0,0,0,.9);
}
.thumbnail-container {

}
.thumbnail-container ul {
	list-style-type: none;
}
.thumbnail-container ul li {
	float: left;
	width: 25%;
}
.thumbnail-container ul li img {
	position: relative;
	display: block;
	width: 100%;
	opacity: .5;
	border: 2px solid #1a1a1a;
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-ms-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
}
.thumbnail-container ul li img:hover {
	z-index: 6;
	opacity: 1;
	border: 2px solid #7fbe00;
}
.thumbnail-container ul li img.flex-active {
	z-index: 2;
	opacity: 1;
	border: 2px solid #7fbe00;
}
.outer-slider .flex-direction-nav a:before {
	position: absolute;
	top: 50%;
	margin-top: -22px;
}
.flex-direction-nav a {
	display: none;
	height: 100%;
	top: 20px;
	opacity: 1;
	text-shadow: 1px 1px 2px #000;
	color: #fff !important;
	background-color: rgba(127,190,0,.2);
	padding: 0 5px;
	position: absolute;
	-webkit-transition: all .3s linear !important;
	-moz-transition: all .3s linear !important;
	-ms-transition: all .3s linear !important;
	-o-transition: all .3s linear !important;
	transition: all .3s linear !important;
}
.flex-direction-nav a:hover {
	background-color: rgba(127,190,0,.8);
}
.flex-direction-nav a.flex-prev:before {
	position: absolute;
	top: 50%;
	left: 8px !important;
}
.flex-direction-nav a.flex-next:before {
	position: absolute;
	top: 50%;
	right: 8px !important;
}
.flex-direction-nav .flex-prev {
	left: 0 !important;
	border-right: 1px solid #1a1a1a;
}
.flex-direction-nav .flex-next {
	right: 0 !important;
	border-left: 1px solid #1a1a1a;
}
.dog-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 15px;
	font-size: 12px;
	font-style: italic;
	text-align: center;
	color: #353535;
	background: rgba(255,255,255,.8);
	border-bottom: 1px solid #1a1a1a;
}
#outer-slider {
	position: relative;
	padding: 0 30px;
}
#outer-slider .flex-direction-nav a {
	display: block;
}
.flex-direction-nav a { width:30px; }
.flex-direction-nav a:before { font-size:20px; }
/* Boutique Stylings */
.main-wrapper.boutique .main-container {

}
.sponsors {
	padding-top: 15px;
}
.sponsors ul {
	list-style-type: none;
}
.sponsors ul li {
	display: inline-block;
	width: 19%;
}
.sponsors ul li img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
/* Contact Stylings */
.contact .left-side {
	width: 30%;
	text-align: left;
}
.contact .right-side {
	width: 70%;
	text-align: right;
}
.contact .right-side table {
	width: 100%;
	border-collapse: collapse;
}
.contact .right-side table td {
	font-size: 14px;
	padding: 1px 5px;
}
.contact .right-side table td:first-child {
	text-align: left;
}
/* Blog Stylings */
.datebox {
	overflow: hidden;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Roboto Slab', serif;
}
.blogdate {
	float: left;
	width: 100%;
	padding: 10px;
	background-color: #7fbe00;
}
.share {
	display: none;
	float: right;
	width: 30%;
	padding: 10px;
	color: #666;
	background-color: #e3e3e3;
	cursor: pointer;
}
.blogimage {
	height: 300px;
	background-size: cover;
	background-position: center;
}
.blogentry {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #4d4d4d;
}
.blogentry:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}
.blogentry:last-child {
	margin-bottom: 0;
}
.blogtitle {
	padding: 10px;
	background-color: #7fbe00;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Roboto Slab', serif;
	color: #fff;
	cursor: pointer;
}
.blogtext {
	padding: 15px;
	font-size: 14px;
	line-height: 20px;
}
.backtoblog {
	display: block;
	margin-bottom: 15px;
	font-weight: 300;
}
.readmore {
	display: block;
	width: 240px;
	padding: 5px 15px;
	margin: 0 auto;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	color: #f2f2f2;
	background-color: #7fbe00;
	border: 2px solid #7fbe00;
	cursor: pointer;
	border-radius: 5px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.readmore:hover {
	background-color: #f2f2f2;
	color: #7fbe00;
}
/* Footer Stylings */
.footer {
	max-width: 1024px;
	margin: 0 auto;
}
.footer a {
	color: #7fbe00;
}
.footer a:hover {
	color: #353535;
}
.ig-section {
	padding: 15px 0;
	border-bottom: 1px solid #353535;
}
.instagram-banner {
	margin-top: -3px;
	padding: 15px;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #fff;
	background-color: #7fbe00;
	text-align: center;
}
.ig-wrap {
	border-top: 1px solid #7fbe00;
}
.ig-img {
	float: left;
	width: 16.6667%;
}
.footer-content {
	padding: 25px 0;
}
.footer-content h2 {
	margin-bottom: 0;
}
.footer-content .left-side a {
	display: block;
}
.footer-content .left-side {
	width: 38%;
}
.footer-content .right-side {
	width: 62%;
}
.footer-content .right-side .left-side, .footer-content .right-side .right-side {
	text-align: right;
	width: 48%;
}
.copy {
	float: left;
	font-family: 'Roboto Slab', serif;
	margin: 0;
}
.uno {
	float: right;
	width: 85px;
}
/* Other Stylings */

/* Flexslider Stylings */
#gallery-slider {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	text-align: center;
	box-shadow: none;
}
#gallery-slider img {
	width: 100%;
	display: block;
	float: left;
}
.flex-viewport {
	height: 100% !important;
}
.flex-viewport ul.slides {
	height: 100%;
}
.flex-viewport ul.slides li {
	height: 100%;
	position: relative;
}
#gallery-carousel .flex-viewport ul.slides li {
	border-right: 1px solid #fffff0;
}

/* Responsive Stylings */

/* Tablet Stylings */
@media screen and (max-width: 1040px) { .social-section h2 { float:none;margin:0 0 5px 0; } }

@media screen and (max-width: 959px) and (min-width: 565px) {
	.responsive-navigation { display:block; }
	.res-wrapper { display:block; }
	nav ul.main-nav { pointer-events:none;max-height:41px;opacity:0; }
	.navigation-btn { pointer-events:inherit;opacity:1; }
	.logo { bottom:-134px; }
	.gallery-row .left-side { width:40%; }
	.gallery-row .right-side { width:60%; }
	.contact .main-container .main-container { padding:0; }
	.contact .left-side { width:100%;text-align:center;margin-bottom:15px; }
	.contact .right-side { width:100%;text-align:center;margin-bottom:15px; }
	.footer-content { padding:25px 15px; }
	.footer-content .left-side { width:30%; }
	.footer-content .right-side { width:70%; }
	.footer-content .left-side .left-side, .footer-content .left-side .right-side { width:100%; }
	.footer-content .right-side .left-side, .footer-content .right-side .right-side { width:100%; }
	.footer-content .right-side .left-side { margin-bottom:10px; }
	.gallery-row .left-side { width:100%;display:block;height:600px; }
	.gallery-row .right-side { width:100%;display:block; }
	.article { width:49%; }
	.article:nth-child(even) { float:right; }
	.article:nth-child(2) { margin:0; }
	.dropcam { display:none; }
}

/* Mobile Stylings */
@media screen and (max-width: 564px) {
	h2 { font-size:14px;margin-bottom:10px; }
	h3 { font-size:14px; }
	.responsive-navigation { display:block; }
	.res-wrapper { display:block; }
	nav ul.main-nav { pointer-events:none;max-height:41px;opacity:0; }
	.navigation-btn { pointer-events:inherit;opacity:1; }
	.logo { width:170px;bottom:-87px;left:-10px; }
	.banner-caption { font-size:14px; }
	.main-wrapper { padding:0 15px; }
	.main-container { padding:15px; }
	.home .left-side, .home .right-side { width:100%;float:none; }
	.home .left-side { margin-bottom:15px; }
	.page-banner { font-size:14px; }
	.service-webcam .left-side, .service-webcam .right-side { width:100%;float:none; }
	.service-webcam .left-side { margin-bottom:15px; }
	.gallery-row .left-side { width:100%;display:block;height:350px; }
	.gallery-row .right-side { width:100%;display:block; }
	.enroll-btn { width:100px;height:100px; }
	.returning-client form input[type="text"].datepicker { width:50%; }
	.returning-client form input[type="text"].time { width:50%; }
	.contact .main-container .main-container { padding:0; }
	.contact .left-side { width:100%;text-align:center;margin-bottom:15px; }
	.contact .right-side { width:100%;text-align:center;margin-bottom:15px; }
	.contact .right-side h2 { text-align:center; }
	.contact .right-side table td { width:50%; }
	.contact .right-side table td:first-child { text-align:right; }
	.contact .right-side table tr:nth-child(4) td, .contact .right-side table tr:nth-child(5) td { text-align:center; }
	.blogimage { height:150px; }
	.footer-content { padding:15px 5px; }
	.instagram-banner { font-size:12px; }
	.ig-img { width:33.333%; }
	.footer-content p { font-size:12px; }
	.footer-content .left-side { margin-bottom:10px; }
	.footer-content .left-side .left-side { margin:0; }
	.footer-content .left-side, .footer-content .right-side { width:100%; }
	.footer-content .left-side .left-side, .footer-content .left-side .right-side { width:100%;text-align:center; }
	.footer-content .right-side .left-side, .footer-content .right-side .right-side { width:100%;text-align:center; }
	.footer-content .right-side .left-side { margin-bottom:10px; }
	.footer-content .left-side a { display:inline-block;margin:4px; }
	.ribbon { width:120px;right:5px; }
	.returning-client form label { font-size:14px; }
	.article { width:100%;margin-bottom:15px;float:none; }
	.article a { min-height:inherit; }
	.article:nth-child(2) { margin:0 0 15px; }
	.article-info { position:relative;bottom:0;left:0;right:0; }
	.dropcam { min-height:213px; }
	.dropcam { display:none; }
}

@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {
	body,html { overflow-x:hidden; }
}
@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 768px) {
    body,html { overflow-x:hidden; }
}