<div class="banner">
	<!-- <div class="ribbon">
		<a href="reservations.php" title="Opening March 11th - Reserve Now">
			<img src="img/ribbon.png" alt="Opening Date Ribbon">
		</a>
	</div> -->
	<div class="home-banner banner-hidden">
		<img src="img/banners/pool-banner.png" alt="Home Banner">
		<div class="banner-caption">
			Our Indoor Pool
		</div>
	</div>
	<div class="promise-banner banner-hidden">
		<img src="img/banners/promise-banner.png" alt="Our Promise Banner">
	</div>
	<div class="policy-banner banner-hidden">
		<img src="img/banners/policy-banner.png" alt="Our Policies Banner">
		<div class="banner-caption">
			Our Policies
		</div>
	</div>
	<div class="media-banner banner-hidden">
		<img src="img/banners/media-banner.png" alt="Park9 Media Banner">
		<div class="banner-caption">
			Tetley
		</div>
	</div>
	<div class="employment-banner banner-hidden">
		<img src="img/banners/employment-banner.png" alt="Employment Banner">
		<div class="banner-caption">
			Blue
		</div>
	</div>
	<div class="overnight-dogs-banner banner-hidden">
		<img src="img/banners/overnight-dogs-banner.png" alt="Overnight for Dogs Banner">
		<div class="banner-caption">
			Angus
		</div>
	</div>
	<div class="overnight-cats-banner banner-hidden">
		<img src="img/banners/overnight-cats-banner.png" alt="Overnight for Cats Banner">
		<div class="banner-caption">
			Pooka
		</div>
	</div>
	<div class="playcare-banner banner-hidden">
		<img src="img/banners/playcare-banner.png" alt="UrbanDog Playcare Banner">
		<div class="banner-caption">
			Cedar and Tasha
		</div>
	</div>
	<div class="pool-banner banner-hidden">
		<img src="img/banners/home-banner.png" alt="Our Indoor Pool Banner">
		<div class="banner-caption">
			World Class Accomodations
		</div>
	</div>
	<div class="webcam-banner banner-hidden">
		<img src="img/banners/webcam-banner.png" alt="Webcam Banner">
		<div class="banner-caption">
			Paxton
		</div>
	</div>
	<div class="new-client-banner banner-hidden">
		<img src="img/banners/new-client-banner.png" alt="New Clients Banner">
		<div class="banner-caption">
			Reggie
		</div>
	</div>
	<div class="returning-client-banner banner-hidden">
		<img src="img/banners/returning-client-banner.png" alt="Returning Clients Banner">
		<div class="banner-caption">
			Lily
		</div>
	</div>
	<div class="gallery-banner banner-hidden">
		<img src="img/banners/gallery-banner.png" alt="Gallery Banner">
		<div class="banner-caption">
			Bruiser
		</div>
	</div>
	<div class="boutique-banner banner-hidden">
		<img src="img/banners/boutique-banner.png" alt="Boutique Banner">
		<div class="banner-caption">
			Sensible Products with a Conscience
		</div>
	</div>
	<div class="blog-banner banner-hidden">
		<img src="img/banners/blog-banner.png" alt="Blog Banner">
		<div class="banner-caption">
			Tasha and Domingo
		</div>
	</div>
	<div class="contact-banner banner-hidden">
		<img src="img/banners/contact-banner.png" alt="Contact Banner">
		<div class="banner-caption">
			Franny
		</div>
	</div>
	<div class="team-banner banner-hidden">
		<img src="img/banners/team-banner.png" alt="Our Team Banner">
		<div class="banner-caption">
			Marty, Oreo, Ray Ray and friends
		</div>
	</div>
	<div class="sleepovers-banner banner-hidden">
		<img src="img/banners/sleepovers-banner.png" alt="Sleepover Banner">
		<div class="banner-caption">
			Sleepovers
		</div>
	</div>
	<div class="salon-banner banner-hidden">
		<img src="img/banners/salon-banner.png" alt="Sleepover Banner">
		<div class="banner-caption">
			Salon &amp; Spa
		</div>
	</div>
	<div class="training-banner banner-hidden">
		<img src="img/banners/training-banner.png" alt="Training Banner">
		<div class="banner-caption">
			Training
		</div>
	</div>
	<div class="testimonials-banner banner-hidden">
		<img src="img/banners/testimonials-banner.png" alt="Testimonials Banner">
		<div class="banner-caption">
			Testimonials
		</div>
	</div>
</div>

<div class="social-section">
	<h2>Get Social With Us. <span style="text-transform:none;color:#353535;font-weight:400;">Learn about promotions. Get Tricks + Tips. See lots of Puppy Love.</span></h2>

	<a href="https://www.facebook.com/urbandogto" title="Visit our Facebook Page" target="_blank" class="facebook">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a href="https://twitter.com/urbandoghq" title="Visit our Twitter Page" target="_blank" class="twitter">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<!-- <a href="#" target="_blank" class="google">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a href="#" target="_blank" class="pinterest">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-pinterest-p fa-stack-1x fa-inverse"></i>
		</span>
	</a> -->
	<a href="https://instagram.com/urbandoghq/" title="Visit our Instagram Page" target="_blank" class="instagram">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<!-- <a href="http://instagram.com/park9resort" target="_blank" class="youtube">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
		</span>
	</a> -->
</div>