<div class="footer">
    <div class="footer-content">
    	<div class="left-side">
    		<div class="left-side">
				<p><a href="our-team.php" title="Our Team">Our Team</a>
					<a href="our-facility.php" title="Our Facility">Our Facility</a>
					<a href="our-policies.php" title="Our Policies">Our Policies</a>
					<a href="employment.php" alt="Employment">Employment</a></p>
			</div>
			<div class="right-side">
				<p><a href="sleepovers.php" title="Sleepovers">Sleepovers</a>
					<a href="live-webcams.php" title="Live Webcams">Live Webcams</a>
					<a href="playcare.php" title="Playcare">Playcare</a>
					<a href="new-client.php" title="New Client">Reserve Now</a></p>
			</div>
			<div class="clear"></div>
    	</div>
    	<div class="right-side">
			<div class="left-side">
				<h2>Hours of Operation</h2>
				<p>Mon - Fri : 7am - 8pm<br>
					Sat : 8am - 6pm<br>
					Sun : 10am - 6pm<br>
					<span style="font-style:italic;">Closed all Public Holidays</span><br>
					</p>
			</div>
			<div class="right-side">
				<h2>UrbanDog Fitness + Spa</h2>
				<p>37 Parliament St. Toronto, ON M5A 2Y2<br>
					<span class="bold">Tel</span> (416) 361-1037<br>
					<span class="bold">Fax</span> (416) 850-9077<br>
					<span class="bold">Email</span> <a href="mailto:info@urbandog.ca" title="Email UrbanDog">info@urbandog.ca</a></p>
			</div>
			<div class="clear"></div>
    	</div>
        <div class="clear"></div>
    </div>
    <div class="footer-content">
		<p class="copy">&copy;2015 UrbanDog</p>
		<a href="http://www.unoapp.com" title="UNOapp" target="_blank">
			<img src="img/uno.png" alt="Powered by UNOapp" class="uno">
		</a>
		<div class="clear"></div>
    </div>
</div>