<div class="nav-wrapper">
	<nav>
		<ul class="main-nav">
			<li><a href="index.php" title="Home" class="home">Home</a></li>
			<li><a href="javascript:void(0);" title="About Us" class="about">About Us</a>
				<ul class="sub-about">
					<li><a href="our-team.php" title="Our Team" class="promise" style="border-top:none;">Our Team</a></li>
					<li><a href="our-policies.php" title="Our Policy" class="policy">Our Policies</a></li>
					<li><a href="our-facility.php" title="Our Facility" class="pool">Our Facility</a></li>
					<li><a href="media.php" title="Media" class="media">Media</a></li>
					<li><a href="employment.php" title="Employment" class="employment">Employment</a></li>
					<li><a href="testimonials.php" title="Testimonials" class="testimonials">Testimonials</a></li>
				</ul>
			</li>
			<li><a href="javascript:void(0);" title="Our Services" class="services">Our Services</a>
				<ul class="sub-services">
					<!-- <li><a href="overnight-dogs.php" title="Overnight for Dogs" class="overnight-dogs" style="border-top:none;">Overnight Care for Dogs</a></li>
					<li><a href="overnight-cats.php" title="OVernight for Cats" class="overnight-cats">Overnight Care for Cats</a></li> -->
					<li><a href="playcare.php" title="Playcare" class="playcare" style="border-top:none;">Playcare</a></li>
					<li><a href="sleepovers.php" title="Sleepovers" class="sleepovers">Sleepovers</a></li>
					<li><a href="live-webcams.php" title="Live Webcams" class="webcam">Live Webcams</a></li>
					<li><a href="salon.php" title="Salon & Spa" class="salon">Salon &amp; Spa</a></li>
					<li><a href="training.php" title="Training" class="training">Training</a></li>
				</ul>
			</li>
			<li><a href="javascript:void(0);" title="Reserve Now" class="reserve">Reserve Now</a>
				<ul class="sub-reserve">
					<li><a href="reservations.php" title="Returning Clients" class="returning-client" style="border-top:none;">Reservations</a></li>
					<li><a href="new-client.php" title="New Clients" class="new-client">New Clients</a></li>
				</ul>
			</li>
			<li><a href="gallery.php" title="Gallery" class="gallery">Gallery</a></li>
			<li><a href="boutique.php" title="Boutique" class="boutique">Boutique</a></li>
			<li><a href="blog.php" title="Blog" class="blog">Blog</a></li>
			<li><a href="contact.php" title="Contact Us" class="contact">Contact Us</a></li>
			<div class="clear"></div>
		</ul>
		<div class="clear"></div>
		<div class="navigation-btn">
			<div class="nav-toggle">
		        <a href="javascript:void(0);" title="Open Mobile Navigation" class="nav-toggle" id="navBtn" onclick="return false;">
		            <i class="fa fa-bars"></i>
		        </a>
		    </div>
	    </div>
	    <?php require_once('responsive-nav.html'); ?>
		<div class="clear"></div>
		<div class="logo">
			<a href="index.php" title="Return Home">
				<img src="img/logo-shadow.png" alt="Park9 Dogs Logo">
			</a>
		</div>
	</nav>
</div>