<div class="responsive-navigation" role="navigation" id="responsive-navigation">
	<div style="height:10px;"></div>
    <ul>
		<li><a href="index.php" title="Home" class="home">Home</a></li>
		<li><a href="our-team.php" title="About Us" class="about" style="border-bottom:1px solid #373737;">About Us</a>
			<ul class="sub-about">
				<li><a href="our-team.php" title="Our Team" class="promise">Our Team</a></li>
				<li><a href="our-policies.php" title="Our Policy" class="policy">Our Policies</a></li>
				<li><a href="our-facility.php" title="Our Facility" class="pool">Our Facility</a></li>
				<li><a href="media.php" title="Media" class="media">Media</a></li>
				<li><a href="employment.php" title="Employment" class="employment">Employment</a></li>
				<li><a href="testimonials.php" title="Testimonials" class="testimonials">Testimonials</a></li>
			</ul>
		</li>
		<li><a href="playcare.php" title="Our Services" class="services" style="border-bottom:1px solid #373737;">Our Services</a>
			<ul class="sub-services">
				<!-- <li><a href="overnight-dogs.php" title="Overnight for Dogs" class="overnight-dogs">Overnight Care for Dogs</a></li>
				<li><a href="overnight-cats.php" title="Overnight for Cats" class="overnight-cats">Overnight Care for Cats</a></li> -->
				<li><a href="playcare.php" title="Playcare" class="playcare">Playcare</a></li>
				<li><a href="sleepovers.php" title="Sleepovers" class="sleepovers">Sleepovers</a></li>
				<li><a href="live-webcams.php" title="Live Webcams" class="webcam">Live Webcams</a></li>
				<li><a href="salon.php" title="Salon & Spa" class="salon">Salon &amp; Spa</a></li>
				<li><a href="training.php" title="Training" class="training">Training</a></li>
			</ul>
		</li>
		<li><a href="reservations.php" title="Reserve Now" class="reserve" style="border-bottom:1px solid #373737;">Reserve Now</a>
			<ul class="sub-reserve">
				<li><a href="reservations.php" title="Returning Clients" class="returning-client">Reservations</a></li>
				<li><a href="new-client.php" title="New Clients" class="new-client">New Clients</a></li>
			</ul>
		</li>
		<li><a href="gallery.php" title="Gallery" class="gallery">Gallery</a></li>
		<li><a href="boutique.php" title="Boutique" class="boutique">Boutique</a></li>
		<li><a href="blog.php" title="Blog" class="blog">Blog</a></li>
		<li><a href="contact.php" title="Contact" class="contact" style="border-bottom:none;">Contact Us</a></li>
		<div class="clear"></div>
	</ul>
</div>